<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 Rejoiner. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <checkout>
            <rejoiner_acr>
                <process_by_cron>1</process_by_cron>
                <thumbnail_size_width>200</thumbnail_size_width>
                <thumbnail_size_height>200</thumbnail_size_height>
                <subscribe_checkbox_label>Sign Up for Newsletter</subscribe_checkbox_label>
                <subscribe_checkout_onepage_index>1</subscribe_checkout_onepage_index>
                <subscribe_customer_account_create>1</subscribe_customer_account_create>
                <subscribe_customer_account_login>1</subscribe_customer_account_login>
                <subscribe_newsletter_manage_index>1</subscribe_newsletter_manage_index>
            </rejoiner_acr>
        </checkout>
    </default>
</config>