<?xml version="1.0"?>
<!--
  ~ Copyright © 2022 Rejoiner. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Block\Adminhtml\Order\Create\Totals">
        <plugin name="rejoiner_subscribe_admin_order_create_checkbox" type="Rejoiner\Acr\Plugin\Sales\Block\Adminhtml\Create\TotalsPlugin" sortOrder="10" />
    </type>

    <type name="Magento\Sales\Model\AdminOrder\Create">
        <plugin name="rejoiner_subscribe_admin_order_create" type="Rejoiner\Acr\Plugin\Sales\Model\AdminOrder\CreatePlugin" sortOrder="10" />
    </type>
</config>
