<!--
/**
 * Copyright © 2017 Rejoiner. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="field choice newsletter"  data-bind="fadeVisible: showSubscriptionGuest">
    <input data-bind="attr: {title: getLabel()}, checked: shouldBeChecked(), click: updateSubscribe" type="checkbox" name="rejoiner_subscription" value="1" id="rejoiner-subscription-guest" class="checkbox" />
    <label for="rejoiner-subscription-guest" class="label"><span data-bind="text: getLabel()"></span></label>
</div>

